$textocentrado: ( centrado: "center", );
$colorPrimario: black;
$colorSecundario: blue;
$colorTerciario: yellow;
$colorFondo1: green;
$colorFondo2: red;
$colorFondo3: orange;
$colorFondo4: grey;
$colorFondo5: white;
$sinDecorado: none;
$redes: ( rojo: red, verde: green, amarillo: yellow, );
$bordes: ( fino: 20px, medio: 30px, grueso: 50px, );